<head>
    <script src="http://localhost:8080/js/script-a.js" defer></script>
    <script src="http://localhost:8080/js/script-b.js" defer></script>
    <script src="https://example.com/script-c.js" defer></script>
    <script src="https://example.com/script-d.js" defer></script>
    <script src="http://localhost:8080/js/script-e.js"></script>
    <script src="http://localhost:8080/js/script-f.js"></script>
    <script src="https://example.com/script-g.js"></script>
    <script src="https://example.com/script-h.js"></script>
    <script src="http://localhost:8080/js/script-i.js" defer></script>
    <script src="http://localhost:8080/js/script-j.js" defer></script>
    <script src="https://example.com/script-k.js" defer></script>
    <script src="https://example.com/script-l.js" defer></script>
</head>
