<head>
    <script src="http://localhost:8080/js/script-a.js"></script>
    <script src="http://localhost:8080/js/script-b.js"></script>
    <script src="http://localhost:8080/js/script-c.js" class="class-c"></script>
    <script src="http://localhost:8080/js/script-d.js" integrity="i-n-t-e-g-r-i-t-y" crossorigin="anonymous"></script>
</head>
